@page "/index"
@layout Layout.MainLayout
@using ApptakFulfilmentCenterWebApp.Components


<PageTitle>Home</PageTitle>

<section class="content">
    <div class="container-fluid">

        <h1>Hello, world!</h1>

        Welcome to your new app.
        
        <!-- /.row -->
    </div><!--/. container-fluid -->
</section>

