@page "/home"
@layout Layout.MainLayout
@using ApptakFulfilmentCenterWebApp.Components
@using MyBlazorApp.Components.Shared


<PageTitle>Home</PageTitle>
<PageHeader Title="Home Page" />

<section class="content">
    <div class="container-fluid">

        <h1>Hello, world!</h1>

        Welcome to your new app.
        
        <!-- /.row -->
    </div><!--/. container-fluid -->
</section>

