@* <h3>LogoLoader</h3>

@code {

}
 *@

<!-- LogoLoader.razor -->
@* <div class="loader-wrapper">
    <img src="Assets/images/AppTaklogo.png" class="logo-loader" alt="Loading..." />
</div> *@
<img src="Assets/images/AppTaklogo.png" class="logo-loader" alt="Loading..." />
