@namespace MyBlazorApp.Components.Shared
@inherits LayoutComponentBase

@* Parameters *@
@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Breadcrumb { get; set; }
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">@Title</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">@Breadcrumb</li>
                </ol>
            </div>
        </div>
    </div>
</div>
