@using Microsoft.AspNetCore.Components.Routing
@inject NavigationManager Navigation
@code {
    private bool IsAuthPage => Navigation.Uri.Contains("/") || Navigation.Uri.Contains("/signup") || Navigation.Uri.Contains("/forgotpassword");
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    @* <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="ApptakFulfilmentCenterWebApp.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />*@
    <HeadOutlet @rendermode="new InteractiveServerRenderMode(prerender: false)" />


    <title>AdminLTE 3 | Dashboard 2</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="Admin/plugins/fontawesome-free/css/all.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="Admin/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Toastr -->
    @* <link rel="stylesheet" href="Admin/plugins/toastr/toastr.min.css"> *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="Admin/dist/css/adminlte.css">
    
</head>

<body class="hold-transition sidebar-mini">
    <Routes @rendermode="new InteractiveServerRenderMode(prerender: false)"/>
    <script src="_framework/blazor.web.js"></script>


    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="Admin/plugins/jquery/jquery.min.js"></script>
    @* <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script> *@
    <!-- Bootstrap -->
    <script src="Admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="Admin/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- Toastr -->
    @* <script src="Admin/plugins/toastr/toastr.min.js"></script> *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <!-- AdminLTE App -->
    <script src="Admin/dist/js/adminlte.js"></script>
    <script src="Admin/dist/js/adminlte.min.js"></script>
   

    <!-- PAGE PLUGINS -->
    <!-- jQuery Mapael -->
    <script src="Admin/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script src="Admin/plugins/raphael/raphael.min.js"></script>
    <script src="Admin/plugins/jquery-mapael/jquery.mapael.min.js"></script>
    <script src="Admin/plugins/jquery-mapael/maps/usa_states.min.js"></script>
    <script>
        function showToastr(type, message, title = '') {
            console.log(type);
            switch (type.toLowerCase()) {
                case 'success':
                    toastr.success(message, title);
                    break;
                case 'info':
                    toastr.info(message, title);
                    break;
                case 'error':
                    toastr.error(message, title);
                    break;
                case 'warning':
                    toastr.warning(message, title);
                    break;
                default:
                    console.warn("Invalid toastr type:", type);
            }
        }

            $('.toastrDefaultError').click(function() {
          toastr.error('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
        });
    </script>
    @if (!IsAuthPage)
    {
        <!-- ChartJS -->
        <script src="Admin/plugins/chart.js/Chart.min.js"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="Admin/dist/js/demo.js"></script>
        <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
        <script src="Admin/dist/js/pages/dashboard2.js"></script>
    }

    
</body>

</html>
